@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*================ VARIABLE CSS ================*/
:root {
    --header-height: 3rem;

    /*================ Colors ================*/
    /*Change favorite color */
    --hue-color: 53; /* Dark Green*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 60%, 75%);     /* Light mode: Header(logo) color, pink */
    --first-color-alt: hsl(var(--hue-color), 25%, 61%); /* Dark mode: Text color of active buttons and icons of socmed, pink*/
    --first-color-lighter: hsl(var(--hue-color), 43%, 73%); /* Dark mode: Navbar Text color, dirtywhite */
    --title-color: hsl(var(--hue-color), 6%, 43%);  /* Light mode: Navbar Text color, grayish */
    --text-color: hsl(var(--hue-color), 6%, 43%);   /* Front-end developer stronger color, grayish */
    --input-color: hsl(var(--hue-color), 10%, 92%); 
    --body-color: hsl(var(--hue-color), 60%, 99%); /* New color, white */
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*================ Font and Typography ================*/
    --body-font: 'Poppins', sans-serif; ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*================ Font Weight ================*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*================ Margins Bottom ================*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*================ z index ================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*================ Font size for large devices ================*/
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================ Variables Dark Theme ================*/
/* body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 21%, 8%);
    --title-color: hsl(var(--hue-color), 6%, 95%);  
    --text-color: hsl(var(--hue-color), 6%, 75%);  
    --input-color: hsl(var(--hue-color), 24%, 16%); 
    --body-color: hsl(var(--hue-color), 28%, 12%) ; 
    --container-color: hsl(var(--hue-color), 24%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
} */

/*================ Button Dark/Light ================*/
/* .nav__btns {
    display: flex;
    align-items: center;  
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
} */

/*================ BASE ================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*================ REUSABLE CSS CLASSES ================*/


/*================ LAYOUT ================*/
.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*================ NAV ================*/
.nav {
    /* max-width: 767px; */
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__logo, /* mine */
.nav__logo-span {
    letter-spacing: 3px;
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    transition: .3s;
    font-size: var(--h3-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.nav__logo:hover {
    color: var(--title-color);
}

.nav__logo-span:hover {
    color: var(--first-color);
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        width: 30%;    
        height: 100%; 
        top: 0;       /* This aligns the nav__menu so everything will be on screen from the top */
        left: -100%;    /* So the navbar will be on left side */
        background-color: var(--body-color);
        padding: 3rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 0 1.5rem 1.5rem 0;
        transition: .3s;
    }
}

.nav__list { 
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 1.5rem;
    padding-top: 1rem; */
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: .75rem;
    right: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
}

.nav__close:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.5rem;
}

/* show menu */
.show-menu {
    left: 0;
}

/* active link */   /* add this last */
.active-link {
    color: var(--first-color);
}

/* change background header */ 
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*================ HOME ================*/
.home__container {
    gap: 1rem;
}


.home__content {
    display: flex;
    padding-top: 3.5rem;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.home__title {
    font-size: var(--big-font-size);
    white-space: nowrap;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.home__img {
    width: 100px;
    border: 1px solid var(--text-color);
}


/* form */ 
.home__data {
    /* grid-column: 1/2; */
    background-color: var(--body-color);
    width: max-content;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    border-radius: 1rem;
}

.todo__form {
    display: flex;
    align-items: center;
}

.todo__input {
    width: 100%;
    background: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    font-size: 1.25rem;
    border-radius: .5rem;
    padding: .25rem;
}

.tasks__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list__item {
    display: flex;
    
}

/*================ BUTTONS ================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-right: var(--mb-0-5);
    transition: .3s;
}

.button--flex { /* aligns the text to the icon */
    display: inline-flex;
    align-items: center;
}